@tailwind base;
@tailwind components;
@tailwind utilities;



.button {
    padding: 10px;
}

.supplies{
    display: grid;
    flex-direction: row;
    gap: 20px 50px;
}

.contin {
    border-color: gray;
    border-style: solid;
    background-color: white;
}

.addbut {
    margin-right: -10%;
    padding-right: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

.title {
    padding: 10px;
    font-size: 20px;
}
.desc{
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: #CCB197;
}

img {
    height: 40%;
    width: 15%;
}

.img3 {
    width: 400px;
    height: 400px;
    padding: 10px;
}

.homeimg {
    display: flex;
    justify-content: center;
    flex-direction: row;
}